extends ../layout.pug
block othercss
    link(rel='stylesheet', href='/stylesheets/business/admin.css')
block content
    div(style="text-align:right;margin-bottom:15px;")
        span 当前用户 admin
        a(href="/admin/logout") 注销
    div(id="worksarea" v-bind:style="{height: calcHeight + 'px'}" class="div-border")
        el-container(v-bind:style="{height: containerHeight + 'px'}")
            el-aside(v-bind:style="{height: asideHeight + 'px'}")
                el-menu(:default-openeds="['1','2']" v-bind:style="{height: asideHeight + 'px'}" collapse=false)
                    el-submenu(index="1")
                        template(slot="title")
                            i(class="el-icon-menu")
                            span 统计数据
                        el-menu-item-group
                            el-menu-item(index="1-1" @click="qryRequestList") 请求列表
                            el-menu-item(index="1-2" @click="sumReport") 分时汇总
                    el-submenu(index="2")
                        template(slot="title")
                            i(class="el-icon-setting")
                            span 系统设置
                        el-menu-item-group
                            el-menu-item(index="2-1") 用户管理
                            el-menu-item(index="2-1") 重置密码
            el-main(v-bind:style="{height: mainHeight + 'px'}")
                el-tabs(v-model="activeTabIndex" type="card" @tab-remove="removeTab")
                    el-tab-pane(label="请求列表")
                    el-tab-pane(label="分时汇总")
                    el-tab-pane(label="用户管理")
                    el-tab-pane(label="重置密码")
    script(src="/javascripts/business/admin.js")