el-table(border style="width:100%" :data="selfSMSData.auditPList")
    el-table-column(label="审核编号" width="60" class="column-title" prop="real_id")
    el-table-column(label="身份证正面" width="140" class="column-title")
        template(slot-scope="scope")
            el-image(style="width: 85px; height: 54px" :src="scope.row.person_id_url_0" onclick="openPic(this)")
    el-table-column(label="身份证反面" width="140" class="column-title")
        template(slot-scope="scope")
            el-image(style="width: 85px; height: 54px" :src="scope.row.person_id_url_1"  onclick="openPic(this)")
    el-table-column(label="手执身份证照片" width="140")
        template(slot-scope="scope")
            el-image(style="width: 85px; height: 54px" :src="scope.row.person_id_url_2"  onclick="openPic(this)")
    el-table-column(label="提交时间" width="180" prop="created_time" type="date" value-format="yyyy-MM-dd")
    el-table-column(label="审核操作" class="column-title")
        template(slot-scope="scope")
            el-button(size="mini" @click="handleAudit(scope.row.real_id,'p')") 处理